/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h2{
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color: green;
} */
/* .content{
    width: 40%;
}
.p{
    width: 30%;
}
.container{
    width: 30%;
} */
